<?xml version="1.0" encoding="UTF-8" ?>
<!--
    Copyright 2026 Ledo / Subteno.
    License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl).
-->
<odoo>
    <record id="action_showcase" model="ir.actions.client">
        <field name="name">OCA Design System</field>
        <field name="tag">oca_design_system.showcase</field>
    </record>

    <menuitem
        id="menu_root"
        name="Design System"
        web_icon="oca_design_system,static/description/icon.png"
        sequence="170"
    />

    <menuitem
        id="menu_showcase"
        name="Components"
        parent="menu_root"
        action="action_showcase"
        sequence="10"
    />
</odoo>
